<!DOCTYPE html>
 <html lang="en"> 
    <head> 
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
         <title>Certificate</title> 
         <style> 
         
         body {
         background: rgb(170,213,93);
background: linear-gradient(90deg, rgba(170,213,93,1) 0%, rgba(208,218,86,1) 35%, rgba(0,255,222,1) 100%);
         background-size:576px 510px;
         font-family: Arial, sans-serif;
         height: "480px";
         width: "576px";
        }
        .certificate {
            border: 2px solid #000;
            height: "480px";
            width: "576px";
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    
        .certificate h1 {
            text-align: center;
            margin-bottom: 20px;
        }
    
        .certificate-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    
        .certificate-info p {
            margin: 0;
        }
    
        .certificate-info span {
            font-weight: bold;
        }
    
        .certificate-tree {
            text-align: center;
            margin-bottom: 20px;
        }
    
        .certificate-tree img {
            width: 100px;
            height: 100px;
        }
    
        .certificate-footer {
            text-align: center;
        }
    </style>
    </head> <body> <div class="certificate"> <h1>Certificate of Donation</h1>
        <div class="certificate-info">
            <p><span>Name:</span><%=name %></p>
            <p><span>Phone:</span><%=mobile_number %></p>
            <p><span>Email:</span> <%=email%></p>
        </div>
    
        <div class="certificate-tree">
            <p><span>Amount Donated:</span>&#8377;<%=amount%></p>
            <p><span>Number of Trees:</span><%=number_of_trees%></p>
            <img src="https://art.pixilart.com/f45cad30e5fbff2.png" alt="Tree">
        </div>
    
        <div class="certificate-footer">
            <p>This is to certify that <%=name %> has successfully donated &#8377;<%=amount%> and planted <%=number_of_trees%> trees on behalf of this organization.</p>
            <p>Thank You for your contribution❤️</p>
        </div>
    </div>
    </body> </html>
